* {
    padding: 0;
    height: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body, html {
    height: 100dvw;
    overflow-x: hidden;
}

header {
    background: #F9F9F9;
    display: flex;
    width: 100dvw;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

header .buttons {
    display: flex;
    gap: 150px;
    align-items: center;
}

header h1{
    font-size: 40px;
}

header .buttons .button {
    color: black;
    text-decoration: none;
    font-size: 40px;
}