body {
	font-family: 'Arial', sans-serif;
	background-color: #121212;
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	padding: 20px;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50px;
	flex-wrap: wrap;
	justify-content: center;
}

.text-content {
	max-width: 500px;
}

h1 {
	font-size: 8rem;
	margin: 0;
	color: #ff5555;
	text-shadow: 0 0 100px rgba(255, 85, 85, 0.5);
}

h2 {
	font-size: 2rem;
	margin: 20px 0;
}

p {
	font-size: 1.2rem;
	line-height: 1.6;
	margin-bottom: 30px;
}

.emoji-img {
	border-radius: 20px;
	width: 300px;
	height: 300px;
	object-fit: cover;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
	transition: all 0.3s ease-in-out;
	animation: left 1.5s ease-out forwards;
}

img:hover {
	box-shadow: 0 0 100px 10px #ff3333;
	border-radius: 50px;
}

.home-button {
	background-color: #ff5555;
	color: white;
	border: none;
	padding: 12px 30px;
	font-size: 1.1rem;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0 0 40px 5px #ff3333;
}

.home-button:hover {
	background-color: #ff3333;
	box-shadow: 0 0 50px 5px #ff3333;
}

@keyframes left {
	from {
		transform: translateX(100vh);
	}
	to {
		transform: translateX(0);
	}
}

h1,
h2,
p {
	animation: right 1.5s ease-out forwards;
}

@keyframes right {
	from {
		transform: translateX(-100vh);
	}
	to {
		transform: translateX(0);
	}
}

.home-button {
	animation: up 1.5s ease-out forwards;
}

@keyframes up {
	from {
		transform: translateY(100vh);
	}
	to {
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.content {
		flex-direction: column-reverse;
		gap: 30px;
	}

	h1 {
		font-size: 6rem;
	}
	.home-button {
		transition: none;
	}
	.emoji-img {
		width: 95%;
	}
}
