html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    background: #D3D3D3;

}



ul{
    list-style-type: none;
}



header{
    background: linear-gradient(90deg, #0dc9bd, #02cf4a);
    margin: 0;
    padding: 10px;
    border-radius: 0 0 25px 25px;
    color: white
}

header h1{
    text-align: center;
}

.head-buttons{
    display: flex;
    justify-content: space-around;
}

.head-button{
    text-decoration: none;
    color: white;
    background: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 25px;
}



.section-1-1, .section-1-2, #section-2, #section-3{
    padding: 20px;
    box-sizing: border-box;
    background: white;
    width: 95%;
    margin: 15px auto;
    border-radius: 25px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);

}

.section-1-2 li{
    font-size: large;
}



.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.card{
    background:#fefefe;
    width: 95%;
    padding: 25px;
    border-radius: 25px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
    
}

.card img{
    width: 95%;
    border-radius: 25px;
}

.card h2{
    text-align: center;
    font-size: xx-large;
}

.card-button{
    text-decoration: none;
    color: white;
    background: #2563eb;
    padding: 15px 40%;
    margin: auto;
    border-radius: 25px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

footer{
    background: linear-gradient(90deg, #0dc9bd, #02cf4a);
    margin: 0;
    padding: 10px;
    border-radius: 25px 25px 0 0;
    color: white
}



@media (min-width: 1280px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: fadeInDown 1s ease-in-out forwards;
    }    
    .head-buttons{
        gap: 100px;
        margin-right: 100px;
    }

    .head-button{
        transition: all 0.3s ease-in-out;
    }

    .head-button:hover{
        transform: translateY(-10px) scale(1.1);
        background: rgba(255, 255, 255, 0.6);
    }   
    #section-1{
        display: flex;
        width: 95%;
        margin: auto;
        gap: 25px;
    }

    .section-1-1, .section-1-2{
        width: 75%;
        padding: auto;
    }

    .section-1-1{
        animation: fadeInRight 1s ease-in-out;
    }

    .section-1-2{
        animation: fadeInLeft 1s ease-in-out;
    }

    .section-1-1 h1{
        font-size: 100px;
    }
    .section-1-1 h2{
        font-size: 85px;
    }

    .section-1-2 h2{
        font-size: 40px;
    }
    .section-1-2 li{
        font-size: 35px;
    }
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: left;

    }

    #section-2{
        animation: fadeInRight 1s ease-in-out;
    }
    .card-button{
        margin: auto;
        transition: all 0.3s ease-in-out;
    }
    .card-button:hover{
        transform: translateY(-10px) scale(1.1);
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.5);
    }

    .card{
        width: 350px;
        margin: 10px;
        transition: all 0.3s ease-in-out;
    }

    .card:hover{
        transform: translateY(-10px) scale(1.05);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .card img{
        width: 95%;
    }

    footer{
        animation: fadeInUp 1s ease-in-out forwards;
    }

    @keyframes fadeInDown {
        from{
            transform: translateY(-100%);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fadeInUp {
        from{
            transform: translateY(100%);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fadeInRight {
        from{
            transform: translateX(-100%);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes fadeInLeft {
        from{
            transform: translateX(100%);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
}