#title {
    text-align:  center;
    font-size: 64px;
}

.car{
    display: flex;
    gap: 100px;
    align-items: center;
    flex-direction: row;
}

.car .button {
    margin: 0;
    padding: 16px 32px;
    background: rgb(0, 174, 239);
    border: 0px solid #00AEEF;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 25px;
}

.card .button:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 40px 0 rgba(255, 215, 0, 0.25);
    background: rgba(0, 174, 239, 0.8);
}

/* style.css */
.comparison-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.car-header {
    font-weight: bold;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    width: 33%;
}

.car-container {
    display: flex;
    gap: 10px;
    width: 100vw;
    justify-content: right;
}

.car-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.car-row span {
    font-weight: bold;
    min-width: 150px;
}
